/**
 * @name Midnight Mountains // Warzob
 * @description Warzob Rework Midnight V3
 * @author Warzob
 * @version 3.0.0
 * @website https://github.com/Warzob
 * @source https://github.com/Warzob/MidnightMountains
 * @invite tVFHNrWJkY
*/

/* import theme modules */
 /* Theme  */
 @import url('https://raw.githubusercontent.com/Warzob/ThemedependanceWZ/refs/heads/main/build/V3.css'); 
 /* Spotify  */
     @import url("https://raw.githubusercontent.com/LuSaffi/VenCordstuff/refs/heads/main/CSS/BetterSpotifyPlayer.css");
     /* Fonts */
         @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
body {
    /* font, change to '' for default discord font */--font: 'Lexend';
    /* ON/OFF*/
        --animations: on; /* turn off to disable all midnight animations/transitions */
        --custom-window-controls: on; /* turn off to use discord default window controls */
        --dms-icon: on; /* set to default to use discord icon, on to use custom icon, off to disable completely */
        --dms-background: on; /* off to disable, image to use a background image, color to use a custom color/gradient */
        --background-image: on; /* turn on to use a background image */
        --transparency-tweaks: on; /* turn on to remove some elements for better transparency */
        --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
        --panel-blur: off; /* turn on to blur the background of panels */
        --flipped-chatbar: on; /* turn on to move the typing indicator above the chatbar */
        --small-user-panel: off; /* turn on to make the user panel smaller like in old discord */
        --move-top-bar-buttons: on;
        --flipped-chatbar: on; /* turn on to make the chatbar look nicer */
    /* Nitro */
        --showNitroButton: none; /* inherit = on || none = off */
    /* Game */  
        --showplaying: none; /* inherit = on || none = off */   
    /* sizes */
        --gap: 12px; /* spacing between panels */
        --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
     /* animation/transition options */
        --list-item-transition: 0.25s ease; /* transition for list items */
        --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    /* top bar options */
        --custom-app-top-bar-height: 24px; /* height of the titlebar/top bar (default is 36px)*/
    /* window controls */
        --window-control-size: 14px; /* size of custom window controls */
    /* dms button icon options */
        --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
        --dms-icon-svg-size: 80%; /* size of the svg (css mask-size) */
        --dms-icon-color-before: oklch(0.59 0.0057 345.39); /* normal icon color */
        --dms-icon-color-after: oklch(76% 0.1 215); /* icon color when button is hovered/selected */
        --dms-background: color;
        --dms-background-color: transparent;
    /* background image options */
        --background-image-url: url('https://github.com/dharmx/walls/blob/main/nord/a_snowy_mountain_tops.jpg?raw=true');
    /* Image emote discord */
        --customEmojiIconURL: url(https://cdn.discordapp.com/emojis/1217110775601172591.gif?size=240&quality=lossless);
        --customEmojiIconMask: url(https://cdn.discordapp.com/emojis/1217110775601172591.gif?size=240&quality=lossless);
    /* transparency/blur options */
        --blur-amount: 12px; /* amount of blur */
        --bg-floating: var(--bg-3); /* you can set this to a more opaque color if floating panels look too transparent */
    /* chatbar options */
        --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px to align it with the user panel) */
        --chatbar-padding: 8px; /* padding of the chatbar */
}

:root {
        --colors: on; /* color options turn off to use discord default colors */
     /* text colors */
        --text-0: oklch(0.21 0.0109 264.31 / 70%); /* text on colored elements */
        --text-1: oklch(0.96 0.0111 264.51); /* other normally white text */
        --text-2: oklch(0.74 0.0395 264.3); /* headings and important text */
        --text-3: oklch(0.66 0.0435 264.21); /* normal text */
        --text-4: oklch(0.49 0.0352 264.18); /* icon buttons and channels */
        --text-5: oklch(0.76 0.1 215); /* muted channels/chats and timestamps */
    /* background and dark colors */
        --bg-1: oklch(0.31 0.0197 264.23); /* dark buttons when clicked */
        --bg-2: oklch(0.27 0.0163 264.25); /* dark buttons */
        --bg-3: oklch(0.24 0.0136 264.28); /* spacing, secondary elements */
        --bg-4: oklch(0.21 0.0109 264.31 / 70%); /* main background color */
        --hover: oklch(0.49 0.0454 265.34 / 10%); /* channels and buttons when hovered */
        --active: oklch(0.49 0.0447 264.03 / 20%); /* channels and buttons when clicked or selected */
        --active-2: oklch(0.49 0.0447 264.03 / 30%); /* extra state for transparent buttons */
        --message-hover: oklch(0 0 0 / 10%); /* messages when hovered */
    /* accent colors */
        --accent-1: oklch(76% 0.1 215); /* links and other accent text */
        --accent-2: oklch(70% 0.1 215); /* small accent elements */
        --accent-3: oklch(64% 0.1 215); /* accent buttons */
        --accent-4: oklch(58% 0.1 215); /* accent buttons when hovered */
        --accent-5: oklch(52% 0.1 215); /* accent buttons when clicked */
        --accent-new: oklch(70% 0.1 215); /* stuff that's normally red like mute/deafen buttons */
        --mention: linear-gradient(to right, color-mix(in hsl, oklch(70% 0.1 215), transparent 90%) 40%, transparent); /* background of messages that mention you */
        --mention-hover: linear-gradient(to right, color-mix(in hsl, oklch(70% 0.1 215), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
        --reply: linear-gradient(to right, color-mix(in hsl, hsl(220, 20%, 60%), transparent 90%) 40%, transparent); /* background of messages that reply to you */
        --reply-hover: linear-gradient(to right, color-mix(in hsl, oklch(0.66 0.0435 264.21), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */
    /* status indicator colors */
        --online: oklch(0.75 0.1317 156.19); /* change to #43a25a for default */
        --dnd: oklch(0.62 0.1676 23.27); /* change to #d83a42 for default */
        --idle: oklch(0.77 0.177 118.37); /* change to #ca9654 for default */
        --streaming: oklch(0.52 0.186 316.88); /* change to #593695 for default */
        --offline: oklch(0.49 0.0352 264.18); /* change to #83838b for default offline color */
    /* chatbar options */
        --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px to align it with the user panel) */
        --chatbar-padding: 8px; /* padding of the chatbar */
    /* border colors */
        --border-light: hsla(183, 20%, 40%, 0.9); /* light border color */
        --border: hsl(183, 20%, 40%, 0.1); /* normal border color */
        --button-border: hsl(183, 20%, 40%, 0.4); /* neutral border color of buttons */
    /*bouton message non lu  */
        --list-item-transition: 0.2s ease;
    /* base colors */
        --white-1: oklch(0.59 0.0057 345.39);
        --green-2: oklch(0.75 0.1317 156.19);
        --red-2: oklch(0.62 0.1676 23.27);
        --yellow-2:oklch(0.77 0.177 118.37);
        --purple-2:oklch(0.52 0.186 316.88);

        --blue-1: oklch(76% 0.1 215);
        --blue-2: oklch(70% 0.1 215);
        --blue-3: oklch(64% 0.1 215);
        --blue-4: oklch(58% 0.1 215);
        --blue-5: oklch(52% 0.1 215);
}

.visual-refresh {
    .trailing_c38106 > a[href="https://support.discord.com"] { display: none; }
    div[class^=channelAppLauncher_] {display:  var(--showplaying) !important;}
    [class*=welcomeCTA_] { display: var(--showWelcomeButtons); } /* Welcome User Button */
    button:has([d^=' M-7,10 C-8' i]) { display: var(--showNitroButton); } /* Hide Gift Button */
    .container__4bbc6 { display: none; }
    .title_c38106 { display: none; }
    .icon__2ea32 {color: oklch(76% 0.1 215) !important; /* Vert pour les écouteurs */} /* Colorer les icônes des salons vocaux (écouteurs) */  
}

/*=====================================================*/
/*         Folder Icon & Separator Tweaks              */
/*=====================================================*/
    .expandedFolderIconWrapper__48112 svg {width: 24px !important;height: 24px !important;margin-top: 2px;margin-bottom: -2px;transition: transform 0.15s ease-in-out;transform-origin: center;}
    .expandedFolderIconWrapper__48112:hover {transform: scale(0.9);transition: transform 0.15s ease-in-out;transform-origin: center;}
  /* 📏 List item custom spacing */
    .listItem__650eb::after {content: none;display: block;height: -20px;}
  /* 🔘 Server separator styling */
    .visual-refresh .guildSeparator__252b6 {width: 40px !important;background-color: oklch(76% 0.1 215);margin: 0.38px;}
    .content_a2f514 {display: flex;flex-direction: column;> .spinner_a2f514 { display: none }
    &:before {display: block;height: 128px;position: relative;content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);image-rendering: pixelated;align-content: center;scale: 3.125;margin-bottom: 96px;}
  }
/*=====================================================*/
/*               PRETTIER SEARCH BAR                   */
/*=====================================================*/
    [class*=search]:not([class*=open]) > [class^=searchBar] {width: 22px;margin-top: 6px;margin-right: 8px;background: transparent;border-width: 0px;}
    [class*=searchBarComponent]{background: transparent;}
    [class*=search]:not([class*=open]) [class^='iconLayout'] {cursor: pointer;}
    [class*=search]:not([class*=open]) [class^='iconContainer'] {transform: scale(1.4);}
    [class*=search]:not([class*=open]) [class^='icon_fea832']{color: var(--interactive-normal);}
    [class*=search]:not([class*=open]):hover [class^='icon'] {color: var(--interactive-active);}
/*=====================================================*/
/*           AUTO COMPLETE EMOJI ANIMATION             */
/*=====================================================*/
    div[class*=autocompleteInner] [class*=clickable] [class*=base]:hover{transition: all 0s;transform: scale(1.02);}
    div[class*=autocompleteInner] [class*=base]{ transition: all 0.3s;}
/*=====================================================*/
/*               Custom Emoji Button                   */
/*=====================================================*/
    [class*=emojiButton] [class*=spriteColored]{background: var(--customEmojiIconURL) center/contain no-repeat;}
    [class*=emojiButton] [class*=spriteGreyscale]{mask: var(--customEmojiIconMask) center/contain no-repeat;}
    [id*=popout_ i]::after, [class*=menu i]::after {display: var(--displayShiggyIcons);content: none;position: absolute;top: -50px;right: 0;width: 50px;height: 50px;background-image: var(--shiggyPopoutIcons);background-size: cover;}
/*=====================================================*/
/*                 TOP Bar Buttons                     */
/*=====================================================*/
    @container body style(--move-top-bar-buttons: on) {
    .visual-refresh {
    /* make server list inner scroll */
        .stack_dbd263 {overflow: hidden scroll;scrollbar-width: none;}
        .tutorialContainer__1f388 {margin-bottom: 48px;      /* create space for inbox button */}
    /* move inbox button */
        .recentsIcon_c99c29 { position: fixed;width: 40px;height: 40px;top: calc(var(--custom-app-top-bar-height) + 1px + var(--custom-guild-list-padding) + 48px);left: calc(var(--gap) + 1px + var(--custom-guild-list-padding));}
    /* style inbox button */
        .recentsIcon_c99c29 .button__85643 {width: 100%;height: 100%;background-color: transparent;border-radius: var(--radius-md);transition: background-color 0.15s ease-out;&:hover {background-color: transparent;.icon__9293f {color: oklch(76% 0.1 215);}}}
        .recentsIcon_c99c29 .svg__2338f {transition: color 0.15s ease-out;width: 24px;height: 24px;}
    /* shift inbox popup panel into view */
        .recentMentionsPopout__95796 {transform: translateX(100%);}
        .title_c38106 { padding-left: var(--gap);justify-content: flex-start;  /* move top bar title */}
        .title__85643 {gap: 4px;}
    /* style top bar title */
        .title__85643 .icon_f34534 {width: 16px;height: 16px;display: none;}
        .title__85643 .text-sm\/medium_cf4812 {line-height: 90%;color: var(--text-muted);font-weight: 700;}
    /* fix settings animation transform */
        .layer__960e4.baseLayer__960e4 {transform: none !important;}
        .layers__960e4 > .layer__960e4.animating__960e4 {will-change: opacity;}
    /* unread icon */
        .recentsIcon_c99c29 .iconBadge__9293f { --custom-icon-offset: 8px; width: 10px; height: 10px;transition: background 0.15s ease-out;}
        .recentsIcon_c99c29:hover .iconBadge__9293f {background: oklch(76% 0.1 215);}
    }}

/*betterfolder */
.visual-refresh {
  .vc-betterFolders-sidebar-grid {grid-template-columns: [start] min-content [guildsEnd] min-content [sidebarEnd] min-content [channelsEnd] 1fr [end];.sidebarList_c48ade {width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--gap));}
  .sidebar_c48ade:not(:has(:nth-child(2) > [aria-label='Servers sidebar'])) {column-gap: 0;}
  .panels_c48ade {max-width: calc(var(--custom-guild-sidebar-width) + 2 * var(--gap) + 4px + 66px);}}
}

@container body style(--small-user-panel: on) {.visual-refresh {.vc-betterFolders-sidebar-grid {grid-template-areas: 'titleBar titleBar titleBar titleBar' 'guildsList betterFoldersSidebar notice notice' 'guildsList betterFoldersSidebar channelsList page' 'guildsList betterFoldersSidebar userPanel page';}}}
  @container body style(--small-user-panel: off) {.visual-refresh {.vc-betterFolders-sidebar-grid {grid-template-areas: 'titleBar titleBar titleBar titleBar' 'guildsList betterFoldersSidebar notice notice' 'guildsList betterFoldersSidebar channelsList page' 'userPanel userPanel userPanel page';}}}



