/**
 * @name Midnight Moutains Pink
 * @description Mountains Pink is a theme for discord Vencord V3.1
 * @author WarZob
 * @version 3.1.0
 * @website https://github.com/Warzob
 * @source https://github.com/Warzob/MidnightMountains
 * @invite tVFHNrWJkY
*/

/* import theme modules */
 /* Theme  */@import url('https://raw.githubusercontent.com/Warzob/ThemedependanceWZ/refs/heads/main/build/V3.1.css');
 /* Fonts */@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
 
 body {

     /* ========== Font, change to '' for default discord font ========== */ 
      --font: 'figtree';
      font-weight: 400 /* normal text font weight. DOES NOT AFFECT BOLD TEXT */;
    
    /* ========== Image Emote Discord ========== */ 
      --customEmojiIconURL: url(https://cdn.discordapp.com/emojis/1217110775601172591.gif?size=240&quality=lossless);
      --customEmojiIconMask: url(https://cdn.discordapp.com/emojis/1217110775601172591.gif?size=240&quality=lossless);

    /* ========== ON/OFF ========== */
      --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
      --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
      --subtle-top-bar-title: on; /* off: default, on: hide the icon and use subtle text color (like old discord) */
      --custom-dms-icon: on; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
      --custom-dms-background: on; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
      --background-image: on; /* off: no background image, on: enable background image (must set url variable below) */
      --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
      --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
      --panel-blur: off; /* off: no changes, on: blur the background of panels */
      --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
      --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
      --custom-window-controls: on; /* off: default window controls, on: custom window controls */

  /* ========== Sizes ========== */   
      --gap: 12px; /* spacing between panels */
      --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
      --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  
  /* ========== Animation/Transition Options ========== */
      --list-item-transition: 0.25s ease; /* transition for list items */
      --dms-icon-svg-transition: 0.45s ease; /* transition for the dms icon */
  
  /* ========== Top Bar Options ========== */
      --top-bar-height: 32px; /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
      --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
  
  /* ========== Window Controls ========== */
      --window-control-size: 12px; /* size of custom window controls */

  /* ========== Dms Button Options ========== */
      --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
      --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
      --dms-icon-color-before: oklch(0.59 0.0057 345.39); /* normal icon color */
      --dms-icon-color-after: oklch(0.62 0.1405 339.67); /* icon color when button is hovered/selected */
      --dms-background-image-size: cover; /* size of the background image (css background-size property) */
      --dms-background-color: transparent; /* fixed color/gradient (css background property) */

  /* ========== Background Image options ========== */
      --background-image-url: url('https://github.com/dharmx/walls/blob/main/nord/a_snowy_mountain_tops.jpg?raw=true');

  /* ========== Transparency/Blur options  NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); ========== */
      --blur-amount: 12px; /* amount of blur */
      --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

  /* ========== Chatbar Options ========== */
      --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
      --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */
}

  :root {
    /* ========== Color Options ========== */   
      --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* ========== Couleurs de texte ========== */
        --text-0: oklch(0.96 0.0111 264.51); /* Texte sur les éléments colorés */
        --text-1: oklch(0.96 0.0111 264.51); /* Autre texte normalement blanc */
        --text-2: oklch(0.74 0.0395 264.3); /* Titres et texte important */
        --text-3: oklch(0.66 0.0435 264.21); /* Texte normal */
        --text-4: oklch(0.52 0.0145 264.44); /* Boutons d'icônes et canaux */
        --text-5: oklch(0.45 0.0864 316.68); /* Canaux/chats en sourdine et horodatages */

    /* ========== Couleurs de fond et sombres ========== */
        --bg-1: oklch(0.31 0.0197 264.23); /* Boutons sombres lorsqu'ils sont cliqués */
        --bg-2: oklch(0.27 0.0163 264.25); /* Boutons sombres */
        --bg-3: oklch(0.24 0.0136 264.28); /* Espacement, éléments secondaires */
        --bg-4: oklch(0.21 0.0159 316.39 / 70%); /* Couleur de fond principale */
        --hover: oklch(0.48 0.0678 313.43 / 10%); /* Canaux et boutons au survol */
        --active: oklch(0.49 0.0447 264.03 / 20%); /* Canaux et boutons lorsqu'ils sont cliqués ou sélectionnés */
        --active-2: oklch(0.49 0.0447 264.03 / 30%); /* État supplémentaire pour les boutons transparents */
        --message-hover: oklch(0 0 0 / 10%); /* Messages au survol */

    /* ========== Couleurs d'accentuation (modifiées pour utiliser les violets) ========== */
        --accent-1: oklch(0.73 0.1238 328.22); /* Liens et texte d'accentuation */
        --accent-2: oklch(0.73 0.1238 328.22); /* Petits éléments d'accentuation */
        --accent-3: oklch(0.73 0.1238 328.22); /* Boutons d'accentuation */
        --accent-4: oklch(0.73 0.1238 328.22); /* Boutons d'accentuation au survol */
        --accent-5: oklch(0.73 0.1238 328.22); /* Boutons d'accentuation lorsqu'ils sont cliqués */
        --accent-new: oklch(0.73 0.1238 328.22); /* Éléments comme les boutons de sourdine/désactivation */
          --mention: linear-gradient(to right, color-mix(in hsl, oklch(70% 0.11 310), transparent 90%) 40%, transparent); /* Fond des messages qui vous mentionnent */
          --mention-hover: linear-gradient(to right, color-mix(in hsl, oklch(70% 0.11 310), transparent 95%) 40%, transparent); /* Fond des messages qui vous mentionnent au survol */
          --reply: linear-gradient(to right, color-mix(in hsl,  oklch(0.66 0.0435 264.21), transparent 90%) 40%, transparent); /* Fond des messages qui vous répondent */
          --reply-hover: linear-gradient(to right, color-mix(in hsl,  oklch(0.66 0.0435 264.21), transparent 95%) 40%, transparent); /* Fond des messages qui vous répondent au survol */

    /* ========== Couleurs des indicateurs de statut ========== */ 
        --online: oklch(0.71 0.1958 149.62);
        --dnd: oklch(63% 0.3 160);
        --idle: oklch(0.8 0.1641 102.06);
        --streaming: oklch(0.36 0.1614 320.67);
        --offline: oklch(0.49 0.1935 28.37);

    /* ========== Options de la barre de chat ========== */ 
        --chatbar-height: 47px; /* Hauteur de la barre de chat (52px par défaut, 47px pour l'aligner avec le panneau utilisateur) */
        --chatbar-padding: 8px; /* Remplissage de la barre de chat */

    /* ========== Couleurs des bordures ========== */
        --border-light: oklch(0.62 0.1405 339.67 / 0.9); /* Couleur de bordure claire */
        --border: oklch(0.47 0.0558 275.32 / 20%); /* Couleur de bordure normale */
        --button-border: oklch(1 0 0 / 10%); /* Couleur de bordure neutre des boutons */

    /* ========== Bouton message non lu ========== */ 
        --list-item-transition: 0.2s ease; 

    /* ========== Couleurs de base ========== */
        --white-1: oklch(0.59 0.0057 345.39);
        --purple-1: oklch(76% 0.11 310);
        --purple-2: oklch(70% 0.11 310);
        --purple-3: oklch(64% 0.11 310);
        --purple-4: oklch(58% 0.11 310);
        --purple-5: oklch(52% 0.11 310);
  }


/* ========== Folder Separator and Folder   ========== */

    /* ========== Server separator styling  ========== */
      .visual-refresh {
        .guildSeparator__252b6 {width: 40px !important;background-color: oklch(0.62 0.1405 339.67);margin: 0.38px;}
        .icon__2ea32 {color: oklch(0.62 0.1405 339.67) !important; /* Vert pour les écouteurs */} /* Colorer les icônes des salons vocaux (écouteurs) */
        [class*=emojiButton] [class*=spriteColored]{background: var(--customEmojiIconURL) center/contain no-repeat;}
        [class*=emojiButton] [class*=spriteGreyscale]{mask: var(--customEmojiIconMask) center/contain no-repeat;}
        [id*=popout_ i]::after, [class*=menu i]::after {display: var(--displayShiggyIcons);content: none;position: absolute;top: -50px;right: 0;width: 50px;height: 50px;background-image: var(--shiggyPopoutIcons);background-size: cover;}
      }


/* ========== Lecteur Spotify ========== */

  /* ========== Modify bounding box ========== */
      #vc-spotify-player {position: relative;height:100px;border:0;--vc-spotify-green: oklch(76% 0.11 310) !important;z-index:-1;transition: height 0.25s ease-in-out;}

  /* ========== Grow in size when hovered ========== */
      #vc-spotify-player:hover {height:135px;}

  /* ========== Background album art ========== */
      #vc-spotify-player::before {content: "";position: absolute;height: 150%;width: 100%;top:0;left: 0;z-index: -1;background: var(--vc-spotify-track-image);background-size:100%;background-position:50% 60%;filter: blur(5px) brightness(50%);transition: all 0.25s ease-in-out;}

  /* ========== Unblur when hovered ========== */
      #vc-spotify-player:hover::before {filter: blur(0) brightness(80%);}

  /* ========== Remove small album art ========== */
      #vc-spotify-album-image {display:none;}

  /* ========== Increase song title size ========== */
      #vc-spotify-song-title {margin-top:15px;margin-bottom:5px;font-size:135%;color: oklch(76% 0.11 310);filter: drop-shadow(0 0 2px black);text-shadow: 0 0 6px rgba(0, 0, 0, 0.185);}

  /* ========== Remove 'by' & 'on' texts ========== */
      #vc-spotify-titles span {visibility:visible;position:relative;color: rgb(184, 179, 179);filter: drop-shadow(0 0 2px black);text-shadow: 0 0 6px rgba(0, 0, 0, 0.185);}

  /* ========== Change progress bar color to spotify green ========== */
      .barFill_a562c8 {background-color:  oklch(76% 0.11 310)  !important;}

  /* ========== Button row adjusted for increased text size ========== */
      .vc-spotify-button-row {filter: drop-shadow(0 0 2px black);}

  /* ========== Drop shadow & color for the time text ========== */
      .vc-spotify-progress-time {filter: drop-shadow(0 0 2px black);}

  /* ========== Remove clipping for big chars (ex. y, g) ========== */
      .vc-spotify-ellipoverflow {overflow: visible}

  /* ========== Drop shadow for visiblity ========== */
      .buttons__37e49 button,
      .avatarWrapper__37e49 {filter: drop-shadow(0 0 2px black);}

  /* ========== Change hover bg ========== */
      .buttons__37e49 button:hover,
      .avatarWrapper__37e49:hover {background-color: rgba(0,0,0, 0.3) !important;}

  /* ========== Position progress bar & button row ========== */
      #vc-spotify-progress-bar {position:absolute !important;top:70%;width:95% !important;}
